<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Aaron S Francis | Java Backend & Android Developer</title>
</head>
<body>

<!-- Start: Intro -->
<section id="intro" class="fx-backstretch">
    <div class="info">
        <!--name container-->
        <div class="container">
            <div class="row">
                <div class="col-full">
                    <h1>Aaron S Francis</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-full">
                    <h4>Java Backend & Android Developer</h4>
                </div>
            </div>
        </div>
    </div>

    <nav id="nav">

    </nav>
</section>
<!-- End: Intro -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- jQuery Backstretch (full photo background) -->
<script src="../static/js/jquery.backstretch.min.js"></script>

<!--<script>-->
    <!--$.backstretch("../static/images/water.jpg");-->
<!--</script>-->

<!-- custom scripting -->
<script src="../static/js/custom.js"></script>

</body>
</html>